<div *ngFor="let card of cards">
  <div class="grid grid-cols-6 gap-2 p-4">
    <div class="bg-red-300">
      <img class="w-full" src="https://cdn.vox-cdn.com/thumbor/PqAwdNpc7p-5GUCSMxQPehSU-ck=/0x0:1920x1200/1200x800/filters:focal(810x375:1116x681)/cdn.vox-cdn.com/uploads/chorus_image/image/72524797/pikachu_artwork.0.jpg" alt="{{card.name}}">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{card.name}}</div>
        <p class="text-gray-700 text-base">
          Number of cards: {{card.cards.length}}
        </p>
      </div>
    </div>
  </div>
</div>




  <!-- <div *ngFor="let card2 of card.cards">
    <div class="grid grid-cols-6 gap-2 p-4">
      <div class="bg-red-300">
        <img class="w-full" src="{{card2.images.large}}" alt="{{card2.name}}">
        <h5>{{card2.name}}</h5>
      </div>
    </div>
  </div> -->

<h1>cfodkckodcok</h1>





