<div class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-300">
  <h1 class="text-lg font-medium">PokemonApp - Leonardo Nogueira Sfalsim</h1>
  <button class="flex items-center justify-center h-10 px-4 ml-auto text-sm font-medium rounded hover:bg-gray-300">
      Hello, {{currentUser}}
  </button>
  <button class="relative ml-2 text-sm focus:outline-none group">
      <div class="flex items-center justify-between w-10 h-10 rounded hover:bg-gray-300">
          <svg class="w-5 h-5 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
      </div>
      <div class="absolute right-0 flex-col items-start hidden w-20 pb-1 bg-white border border-gray-300 shadow-lg group-focus:flex">
        <div class="flex grig grid-cols-1">
          <mat-icon class="cursor-pointer" aria-hidden="false" aria-label="Exit to App" fontIcon="exit_to_app" (click)="logout()"></mat-icon>
          <span class="mt-1 cursor-pointer" (click)="logout()">Logout</span>
        </div>
      </div>
  </button>
</div>
