<div class="flex flex-col items-center w-16 h-full pb-4 overflow-auto border-r border-gray-300">
  <a class="flex items-center justify-center flex-shrink-0 w-full h-16 bg-gray-300">
      <img src="https://p1.hiclipart.com/preview/675/411/676/pokemon-pokemon-pikachu-png-clipart.jpg" alt="">
  </a>
  <a class="flex items-center justify-center flex-shrink-0 w-10 h-10 mt-4 rounded hover:bg-gray-300 cursor-pointer" (click)="dashboard()">
    <mat-icon aria-hidden="false" aria-label="Equalizer" fontIcon="equalizer"></mat-icon>
  </a>
  <a class="flex items-center justify-center flex-shrink-0 w-10 h-10 mt-4 rounded hover:bg-gray-300 cursor-pointer" (click)="deckOfCards()">
    <mat-icon aria-hidden="false" aria-label="Cards" fontIcon="list"></mat-icon>
  </a>
  <a class="flex align-bottom fixed bottom-0 items-center justify-center flex-shrink-0 w-10 h-10 mt-4 rounded hover:bg-gray-300 cursor-pointer" (click)="logout()">
    <mat-icon aria-hidden="false" aria-label="Exit to App" fontIcon="exit_to_app"></mat-icon>
  </a>
</div>
