<div class="flex flex-col items-center w-16 pb-4 overflow-auto border-r border-gray-300">
  <a class="flex items-center justify-center flex-shrink-0 w-full h-16 bg-gray-300">
      <img src="https://p1.hiclipart.com/preview/675/411/676/pokemon-pokemon-pikachu-png-clipart.jpg" alt="">
  </a>
  <a class="flex items-center justify-center flex-shrink-0 w-10 h-10 mt-4 rounded hover:bg-gray-300" (click)="deckOfCards()">
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
      </svg>
  </a>
</div>
