
<div class="sm:mx-auto sm:w-full sm:max-w-sm mt-10">
  <h2 class="text-center text-2xl font-bold text-gray-900">
    Register
  </h2>
</div>

<div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field>
          <input matInput placeholder="E-mail" id="email" formControlName="email" type="text">
          <mat-error
            *ngIf="(form.get('email')?.dirty)
            && form.get('email')?.hasError('required')">
            The field shouldn't be empty!
          </mat-error>
          <mat-error
            *ngIf="(form.get('email')?.dirty)
            && form.get('email')?.hasError('pattern')">
            Provide a valid e-mail!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" id="password" formControlName="password" type="password">
          <mat-error
            *ngIf="(form.get('password')?.dirty)
            && form.get('password')?.hasError('required')">
            The field shouldn't be empty!
          </mat-error>
          <mat-error
            *ngIf="(form.get('password')?.dirty)
            && form.get('password')?.hasError('minlength')">
            The min of characters is 3!
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          (click)="createLogin()"
          >Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

